<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-secondary" id="headnav">
  <a class="navbar-brand" href="/"><img src="/images/favicon.jpg" alt="Logo" width="30" height="30" class="rounded-circle"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item p-2">
        <a href="/catalog" class="btn btn-outline-dark btn-lg">Catalog<i class="fa-solid fa-book"></i></a>
      </li>
      <li class="nav-item p-2">
        <a href="/additem" class="btn btn-outline-dark btn-lg">Add Item<i class="fa-solid fa-plus"></i></a>
      </li>
      <li class="nav-item p-2">
        <a href="/itemadded" class="btn btn-outline-dark btn-lg">(Testing) Item Added<i class="fa-solid fa-plus"></i></a>
      </li>
    </ul>
  </div>
</nav>
