<%- contentFor('body') %>

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="text-center mt-4 mb-5">
    <h1 class="card-title mb-0">Welcome to Streamlist!</h1>
    <h5 class="card-text mb-4">
      The place to manage and keep track <br>
      of all your favourite movies and tv shows!</h5>
    <img src="/images/gum.png" alt="Gum" width="240" height="240" class="rounded-circle mb-3">
  </div>

